</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
</script>

<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "100px";
        document.getElementById("main").style.marginLeft = "100px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
        document.getElementById("secondSidebar").style.width = "0";
        document.getElementById("second").style.marginLeft = "0";
        document.getElementById("thirdSidebar").style.width = "0";
        document.getElementById("third").style.marginLeft = "0";
        document.getElementById("main").style.marginLeft = "0";

    }

    function openSecNav() {
        document.getElementById("secondSidebar").style.width = "15em";
        document.getElementById("second").style.marginLeft = "15em";
        document.getElementById("main").style.marginLeft = "22em";
        document.getElementById("thirdSidebar").style.width = "0";
        document.getElementById("third").style.marginLeft = "0";
    }

    function closeSecNav() {
        document.getElementById("secondSidebar").style.width = "0";
        document.getElementById("second").style.marginLeft = "0";
        document.getElementById("main").style.marginLeft = "6em";
    }

    function openThirdNav() {
        document.getElementById("thirdSidebar").style.width = "15em";
        document.getElementById("third").style.marginLeft = "15em";
        document.getElementById("main").style.marginLeft = "22em";
        document.getElementById("secondSidebar").style.width = "0";
        document.getElementById("second").style.marginLeft = "0";
    }

    function closeThirdNav() {
        document.getElementById("thirdSidebar").style.width = "0";
        document.getElementById("third").style.marginLeft = "0";
        document.getElementById("main").style.marginLeft = "6em";
    }
</script>

</body>

</html>